apiVersion: apps/v1
kind: Deployment
metadata:
  name: http-echo
  labels:
    app: http-echo
spec:
  replicas: 3  # change this number; output updates automatically
  selector:
    matchLabels:
      app: http-echo
  template:
    metadata:
      labels:
        app: http-echo
    spec:
      containers:
      - name: http-echo
        image: hashicorp/http-echo:0.2.3
        command: ["/bin/sh"]
        args:
          - "-c"
          - |
            /http-echo -listen=:5678 -text="<h1 style='font-size:50px;color:green;'>Hello from K8s - Pod: $(HOSTNAME)</h1>"
        ports:
        - containerPort: 5678
        env:
        - name: HOSTNAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
---
apiVersion: v1
kind: Service
metadata:
  name: http-echo-svc
spec:
  selector:
    app: http-echo
  ports:
  - port: 80
    targetPort: 5678
    protocol: TCP
    name: http
